#login-main {
    align-items: center;
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.08); */
    border-radius: 12px;
    color: #C00C6D;
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: inset #ffb1ffbd 0px 0px 10px;
}

#google-login {
    margin-top: 5px;
}